In [1]:
#hello world
print('Halo ngabs')

Halo ngabs

In [3]:
#variabel
a = 9829
print (a)
print (a, "adalah angka ribuan")

9829
9829 adalah angka ribuan

In [8]:
#operator

x = 15
y = 35
z = 65

print('x + y = ', x + y)
print('z - x = ', z - x)
print('y * z = ', y * z)
print('8z / 2x = ', (8*z) / (2*x))
print('Hasil bagi z terhadap y adalah = ', z//y)
print('Sisa pembagian z terhadap y adalah = ', z%y)
print('x^y = ', x**y)

y += 13
print(y)

z /= 5
print(z)

x + y =  50
z - x =  50
y * z =  2275
8z / 2x =  17.333333333333332
Hasil bagi z terhadap y adalah =  1
Sisa pembagian z terhadap y adalah =  30
x^y =  145610960604971353313885629177093505859375
48
13.0

In [7]:
#Struktur data - List


#List Kosong
listx = []
#List integer
listy = [6, 7, 4, 5, 2, 9]
#List dengan macam-macam tipe data
listz = [6.3, 'Ambon', 7, 9.90, 30, 'Pisang']
print('list x = ', listx)
print('list y = ', listy)
print('list z = ', listz)

print()

#akses list
listy[2] = 9 #ganti data pada indeks tertentu dengan data baru
print(listy)
print(listz[-1]) #print data terakhir
print(listz[-2]) #print data sebelum data terakhir

list x =  []
list y =  [6, 7, 4, 5, 2, 9]
list z =  [6.3, 'Ambon', 7, 9.9, 30, 'Pisang']

[6, 7, 9, 5, 2, 9]
Pisang
30

In [9]:
#Struktur data - tuples

items = ('Soto Lamongan', 'Rawon', 'Kebab', 'Ayam Penyet')
print(items)
items[1] = 'Makaroni' #sebenarnya tidak dapat diganti, dan menyebabkan error
print(items) #error

('Soto Lamongan', 'Rawon', 'Kebab', 'Ayam Penyet')

TypeError: 'tuple' object does not support item assignment

In [11]:
#Struktur data - set

setnomor = {8, 9, 1, 2, 4, 7, 8, 9, 1, 2, 4, 7}
print(setnomor) #data nomor otomatis diurutkan dan hanya diambil data unique

listnama = ('Samsul', 'Ahmad', 'Bakri', 'Samsul', 'Andi', 'Tejo', 'Ahmad', 'Anton', 'Supri')
print(listnama)
print(set(listnama)) #set  bisa digunakan untuk mendapat nilai unique dari suatu data, selain itu, nilai string tidak akan diurutkan sesuai abjad

{1, 2, 4, 7, 8, 9}
('Samsul', 'Ahmad', 'Bakri', 'Samsul', 'Andi', 'Tejo', 'Ahmad', 'Anton', 'Supri')
{'Bakri', 'Supri', 'Ahmad', 'Samsul', 'Andi', 'Anton', 'Tejo'}

In [52]:
# struktur data - dictionary 

menu = {1 : 'dong telo', 2 : 'dong kates', 3 : 'jangan lombok', 4 : 'bekicot tumis', 5 : 'soto', 6 : 'bakso'}

print('Menu spesial hari ini adalah ', menu)

data = {'mhs' : [{'nama': 'Agus', 'NIM': '2341414'}, {'nama': 'Budi', 'NIM': '231918'}, {'nama': 'Cahyo', 'NIM': '2352134'}, {'nama': 'Deni', 'NIM': '2361928'}, {'nama': 'Eko', 'NIM': '2371823'}]}

print(data['mhs'])

Menu spesial hari ini adalah  {1: 'dong telo', 2: 'dong kates', 3: 'jangan lombok', 4: 'bekicot tumis', 5: 'soto', 6: 'bakso'}
[{'nama': 'Agus', 'NIM': '2341414'}, {'nama': 'Budi', 'NIM': '231918'}, {'nama': 'Cahyo', 'NIM': '2352134'}, {'nama': 'Deni', 'NIM': '2361928'}, {'nama': 'Eko', 'NIM': '2371823'}]

In [33]:
# if else

pesanan = 'ayam goreng'  

if pesanan == 'bakso':
    print('Bakso utiwi')
elif pesanan == 'soto':
    print('Soto utiwi')
elif pesanan == 'mi rebus':
    print('Mi rebus utiwi')
else:
    print('Kamu maunya apaan sih?')

In [43]:
#while loop

n = 75

x = 3
i = 5

while x <= n:
    print(x)
    x = x * i

3
15
75

In [46]:
# for loop

angka = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24)

for n in angka:
    if n%3 == 0:
        print(n, 'bisa dibagi tiga')
    else :
        print(n, 'tidak bisa dibagi tiga')

1 tidak bisa dibagi tiga
2 tidak bisa dibagi tiga
3 bisa dibagi tiga
4 tidak bisa dibagi tiga
5 tidak bisa dibagi tiga
6 bisa dibagi tiga
7 tidak bisa dibagi tiga
8 tidak bisa dibagi tiga
9 bisa dibagi tiga
10 tidak bisa dibagi tiga
11 tidak bisa dibagi tiga
12 bisa dibagi tiga
13 tidak bisa dibagi tiga
14 tidak bisa dibagi tiga
15 bisa dibagi tiga
16 tidak bisa dibagi tiga
17 tidak bisa dibagi tiga
18 bisa dibagi tiga
19 tidak bisa dibagi tiga
20 tidak bisa dibagi tiga
21 bisa dibagi tiga
22 tidak bisa dibagi tiga
23 tidak bisa dibagi tiga
24 bisa dibagi tiga

In [50]:
#break

nilai = ('A', 'A', 'A-', 'B', 'B+', 'B-', 'D', 'D', 'E', 'A', 'A', 'C')

for val in nilai :
    if val == 'D' :
        break
    print(val)


angka = (1, 4, 2, 5, 5, 3, 4, 7, 8, 4, 3, 6, 7, 9, 13, 3)

for val in angka :
    if val%8 == 0 :
        break
    print(val)

A
A
A-
B
B+
B-
1
4
2
5
5
3
4
7

In [55]:
#continue

nilai = ('A', 'A', 'A-', 'B', 'B+', 'B-', 'D', 'D', 'E', 'A', 'A', 'C')

for val in nilai :
    if val == 'A' :
        continue
    print(val)


angka = (1, 4, 2, 5, 5, 3, 4, 7, 8, 4, 3, 6, 7, 9, 13, 3)

for val in angka :
    if val%3 == 0 or val%5 == 3 :
        continue
    print(val)

A-
B
B+
B-
D
D
E
C
1
4
2
5
5
4
7
4
7

In [58]:
#pass

ingfo = {'Ahmad': 'A', 'Andi': 'B', 'Ciko': 'B+', 'Budi': 'C', 'Roni': 'D'}

for nama, nilai in ingfo.items():
    if nilai == 'C' or nilai == 'D':
        pass  
    else:
        print(nama, nilai)

Ahmad A
Andi B
Ciko B+

In [68]:
#function

def kelas () :
    print ('I')

def NIM () :
    print ('82177731')


NIM()
kelas()


def pangkat (a, b):
    pow = a**b
    return pow

hitung = pangkat(6, 8)
print (hitung)

82177731
I
1679616

In [74]:
#lambdafunction

fx = lambda x : x**2 - 2*x + 5

print(fx(9))
print(fx(0))

68
5

In [79]:
#input output

with open('week2.txt', 'w', encoding='utf-8') as f :
    f.write('Inspiring Innovation, persistent perfection ')
    f.write('it lies within')

Inspiring Innovation, persistent perfection it lies within

In [81]:
f = open("week2.txt",'r',encoding = 'utf-8')
print(f.read() )

Inspiring Innovation, persistent perfection it lies within

In [90]:
#waktu dan tanggal

from datetime import date

tanggal = date.today()
print('Hari ini adalah tanggal', tanggal)

format = tanggal.strftime("%d/%m/%Y")
print("format HH/BB/TTTT :", format)

Hari ini adalah tanggal 2024-08-24
format HH/BB/TTTT : 24/08/2024